{% extends layout %} {% load i18n %} {% block title %}{% translate "Dashboard"%}


{% endblock %}

{% block content %}
    <!-- CONTENT -->
    
   


 <!-- MAIN -->
    <body class="container-fluid"> 

        <div class="mainContent mainContentCards container-fluid ">

            <div class="row container-fluid" style="overflow: hidden;">
                <header class="py-3 mb-4">


                    <div class="container-fluid d-flex flex-column flex-wrap justify-content-center">
                        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                            <span class="fs-4">Index</span>
                        </a>

                        <p> Aqui se administran los campos que forman parte del sistema de validacion </p>
                    
                    </div>
                </header>
            </div>
        
      
    
        <!-- TABLE -->
        <div class="table-data-1 container-fluid">
            <div class="container-fluid text-center cardContainer">
            <div class="row row-cols-4 cardContainer d-flex gap-3 ">
                <div class="col cardItem ">
                    
                    <div class="card cardItem ">
                        <div class="card-body d-flex  align-items-center">
                            <div class="cardIcon d-flex justify-content-center align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                </svg>
                            </div>
                            <div class="cardNumber ms-2 d-flex justify-content-center align-items-center">
                                <h5 class="cardNumberItem">120</h5>

                            </div>
                            <div class="cardText ms-4 d-flex justify-content-center align-items-center">
                                 <h5 class="cardTextItem"><a class="cardTextItem" style="text-decoration: none !important;" href="#"> Claves de Pedimentos </a> </h5>

                            </div>
    
                        </div>
                
                    </div>
               
            </div>
           <div class="col cardItem  ">
                    
                    <div class="card cardItem ">
                        <div class="card-body d-flex  align-items-center">
                            <div class="cardIcon d-flex justify-content-center align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                </svg>
                            </div>
                            <div class="cardNumber ms-2 d-flex justify-content-center align-items-center">
                                <h5 class="cardNumberItem">120</h5>

                            </div>
                            <div class="cardText ms-4 d-flex justify-content-center align-items-center">
                                  <h5 class="cardTextItem"><a class="cardTextItem" style="text-decoration: none !important;" href="#"> Destinatarios </a> </h5>

                            </div>
                            
                        </div>
                
                    </div>
               
            </div>
            
        

            
            </div>
           
        </div>


        
</body>


</html>

    
   

{% endblock %}

{% block js %}

{% endblock  %}
