<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %} {% load i18n %} {% block title %}{% translate "Dashboard"%}


{% endblock %}

{% block content %} 

<body class="container-fluid"> 

        <div class="mainContent container-fluid m-3 ">

            <div class="row container-fluid" style="overflow: hidden;">
                <header class="py-3 mb-4">


                    <div class="container-fluid d-flex flex-wrap justify-content-center">
                        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                            <span class="fs-4">Pedimentos</span>
                        </a>
                
                        <span class="input-group-text" id="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                            <input type="search" class="form-control searchText" id="searchInput" placeholder="Buscar pedimentos" aria-label="Search" > 
                        
                    
                    </div>
                </header>
            </div>
        
        <div class="table-data">

            <div class="row container-fluid" style="background-color: var(--bg-color-body);">
                
                <div class="col-8 d-flex justify-content-between">
                    <div class="d-flex flex-column mainNumberContainer">
                        <a href="#" class="mainNumber" > 121 </a>
                        <a class="textoPedimentos">Total de Pedimentos </a> <hr class="hrRemark">
                    </div>

                    <div class="d-flex flex-column mainNumberContainer">
                        <a href="#" class="numeros-pedimentos" > 34 </a>
                        <a class="textoPedimentosSecondary">Pedimentos Validados </a> <hr class="hrRemarkSecondary">
                    </div>

                    <div class="d-flex flex-column mainNumberContainer">
                        <a href="#" class="numeros-pedimentos" > 25 </a>
                        <a class="textoPedimentosSecondary">Pedimentos Justificados </a> <hr class="hrRemarkSecondary">
                    </div>

                    <div class="d-flex flex-column mainNumberContainer">
                        <a href="#" class="numeros-pedimentos" > 62 </a>
                        <a class="textoPedimentosSecondary">Pedimentos con errores normativos </a> <hr class="hrRemarkSecondary">
                    </div>                
            </div>

        

            <div class="d-inline-flex flex-row-reverse col-4">
                <button onclick="toggleFiltro(this)"  class="btn-filtro m-1"  data-bs-toggle="collapse" data-bs-target="#filtro" aria-expanded="false"  >Ver Filtros</button> 
                <button onclick="#';" type="button" class="btn-gold m-1">Exportar CSV</button>
            </div>

            <div class="collapse"  id="filtro">
                <div class="filter-data-1">
                    <div class="container-fluid containerFiltro">
                        <div class="d-flex flex-row flex-wrap">
                            <div class="container-fluid d-flex">
                                 <div class="me-4">
                                <h5 class="filtro"> Aduana</h5>
                                <select class="form-select" style=" width: 300px; height: 40px;" >
                                    <option selected>---</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="me-4">
                                <h5 class="filtro">Pedimento</h5>
                                <select class="form-select" style=" width: 300px; height: 40px;">
                                    <option selected>---</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="me-4 ">
                                <h5 class="filtro">Autorización</h5>
                                <select class="form-select" style=" width: 300px; height: 40px;" >
                                    <option selected>---</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="me-4 ">
                                <h5 class="filtro">Tipo de Operación</h5>
                                <select class="form-select" style=" width: 300px; height: 40px;" >
                                    <option selected>---</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="me-4 ">
                                <h5 class="filtro">Estado</h5>
                                <select class="form-select" style=" width: 300px; height: 40px;" >
                                    <option selected>---</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>


                            </div>

                            <div class="container-fluid d-flex">

                                <div class="me-4 mt-4">
                                <h5 class="filtro">Mes</h5>
                                    <select class="form-select" style=" width: 300px; height: 40px;">
                                        <option selected>---</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                </select>
                            </div>
        
                            <div class="me-4 mt-4">
                                <h5 class="filtro">Año</h5>
                                    <select class="form-select" style=" width: 300px; height: 40px;">
                                        <option selected>---</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                </select>
                            </div>
                                
                            
                            </div>
                           
                            
                            
                        <div>
                            
                        
                            
                    </div>
                    <div class="d-flex flex-row-reverse col-12">
                        <a type="button"  class="btn-green m-1" role="button" >Filtrar Pedimentos</a> 
                        <button onclick="window.location.href='pedimentos.html';" type="button" class="btn-grey m-1">Limpiar</button>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
            


    
   
    
        <!-- TABLE -->
        <div class="table-data-1 container-fluid">
            <div class="container-fluid d-flex flex-column p-4 pt-5 mt-3 containerFiltro" style="margin-bottom: 1.6rem;">
                <div class="container-fluid d-flex justify-content-between tableDetails">
                    <p> Listas de Pedimentos</p>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle btnOrdenarTablas" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ordenar tablas
                        </button>
                        <ul class="dropdown-menu" style="">
                        <li><a class="dropdown-item" href="#">Ordenar de A a Z</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Ordenar de Z a A</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Del más antiguo al más nuevo</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Del más nuevo al más antiguo</a></li>
                        
                        </ul>
                    </div>
                </div>
               
        <table class="tableMain" >
            <thead style="border-radius: 8px; height: 56px; ">
                <tr  >
                    <th class="text-table-td tableHeader " style="border-radius: 20px 0px 0px 0px;">Aduana</th>
                    <th class="text-table-td tableHeader">Autorizacion</th>
                    <th class="text-table-td tableHeader">Pedimento</th>
                    <th class="text-table-td tableHeader">Tipo de <br> Operacion</th>
                    <th class="text-table-td tableHeader">Fecha de <br> Validacion</th>
                    <th class="text-table-td tableHeader">Banco</th>
                    <th class="text-table-td tableHeader">Importe</th>
                    <th class="text-table-td tableHeader">No. de <br> Operacion</th>
                    <th class="text-table-td tableHeader">Fecha de <br> Pago</th>
                    <th class="text-table-td tableHeader">Estado</th>
                    <th class="text-table-td tableHeader">Justificado</th>
                    <th class="text-table-td tableHeader" style="border-radius: 0px 20px 0px 00px;">Acciones</th>
                </tr>
            </thead>

              
                
                <tr>
                    <td class='text-table-th'><span style="float: left;"></span>N/</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>     
                    <td class='text-table-th'>N/A</td>      
                    <td class='text-table-th'>N/A</td>                
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>
                        <button type="button" class="btn btn-outline-danger btnTable" style="border-radius: 100px;">Error Normativo</button>
                    </td>
                    <td class='text-table-th'>N/A</td>
                
                    <td class='text-table-th'>
                        <a type="button" class="btn btn-outline-secondary" style="border-radius: 100px; border-width: 2px;" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                            </svg>
                        </a>
                         <button type="button" class="btn btn-outline-secondary" id="botonDescarga" data-bs-toggle="modal" data-bs-target="#modalD" style="border-radius: 100px; border-width: 2px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16" style="stroke-width: 2px;">
                                 <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"></path>
                                 <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"></path>
                            </svg>
                  
                        </button>
                       
                    </td>
                </tr>

                 <tr>
                    <td class='text-table-th'><span style="float: left; ;"></span></td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>     
                    <td class='text-table-th'>N/A</td>      
                    <td class='text-table-th'>N/A</td>                
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>
                        <button type="button" class="btn btn-outline-warning btnTable" style="border-radius: 100px;">Justificado</button>
                    </td>
                    <td class='text-table-th'>N/A</td>
                
                    <td class='text-table-th'>
                        <a type="button" class="btn btn-outline-secondary" style="border-radius: 100px; border-width: 2px;" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                            </svg>
                        </a>
                         <button type="button" class="btn btn-outline-secondary" id="botonDescarga" data-bs-toggle="modal" data-bs-target="#modalD" style="border-radius: 100px; border-width: 2px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16" style="stroke-width: 2px;">
                                 <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"></path>
                                 <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"></path>
                            </svg>
                  
                        </button>
                       
                    </td>
                </tr>

                 <tr>
                    <td class='text-table-th'><span style="float: left; ;"></span></td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>     
                    <td class='text-table-th'>N/A</td>      
                    <td class='text-table-th'>N/A</td>                
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>N/A</td>
                    <td class='text-table-th'>
                        <button type="button" class="btn btn-outline-success btnTable" style="border-radius: 100px;">Validado</button>
                    </td>
                    <td class='text-table-th'>N/A</td>
                
                    <td class='text-table-th'>
                       <a type="button" class="btn btn-outline-secondary botonDescarga" style="border-radius: 100px; border-width: 2px;" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                            </svg>
                        </a>
                         <button type="button" class="btn btn-outline-secondary" id="botonDescarga" data-bs-toggle="modal" data-bs-target="#modalD" style="border-radius: 100px; border-width: 2px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16" style="stroke-width: 2px;">
                                 <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"></path>
                                 <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"></path>
                            </svg>
                  
                        </button>
                       
                    </td>
                </tr>
              
                
                
            </tbody>
        </table>
        <br/><br/>
        <div style="text-align: center;">
        <span style="color: rgba(91, 114, 130, 0.5); cursor: pointer;"><img src="{% static 'src/prev_pg.svg'%}" style=" display: inline-block;
            vertical-align: middle;">Primera<img src="{% static 'src/prevMini_pg.svg'%}" style=" display: inline-block;
                                vertical-align: middle; padding-left: 10px"><span style="padding-right: 10px;">Anterior</span>  <span class="active-page" style="background-color:  #bc955c;">1</span>  <span style="padding-left: 10px;">Siguiente</span> 
        <img src="{% static 'src/nextMini_pg.svg'%}" style=" display: inline-block;
        vertical-align: middle; padding-right: 10px">Última <img src="{% static 'src/next_pg.svg'%}" style=" display: inline-block;
                                vertical-align: middle;"></span>
        </div>
        <br/><br/>

        </div>
        </div>

    </div>
    </div>
        
        <!-- MODAL ERROR -->
        <div id="myModal" class="modal  fade modal-error pr-5" style="z-index: 9999;  " role="dialog">
            <div class="modal-dialog modal-dialog-top-right">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="d-inline-flex align-middle">
                        <div class="error-svg-container">
                            <img src="static\assets\src\cross-circle-svgrepo-com.svg" class="error-svg pe-2" style="color: red" alt="cross circle">
                        </div>
                        <h4 class="modal-title pt-2">¡Error!</h4>
                    </div>
                    <div class="modal-body">
                        <p id="searchResult"></p>
                    </div>
                    <div class="d-flex flex-row-reverse btn-cerrar btn-sm">
                        <button type="button" style="background-color: #9f2241; color:white;" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div> 

        
</body>

    <!-- MODAL EXITO DESCARGA -->
    <div class="toast-container top-0 end-0 p-3" data-bs-config='{"delay":5000}'>
        <div id="liveToast" class="toast  successNotifJustificar" role="alert" aria-live="assertive" aria-atomic="true">
            <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
            <strong class="me-auto" style="margin-left: 3px;">Success</strong>
            </div>
            <div class="toast-body">
            El pedimento con folio <a class="folioSuccess"> FOLIO </a> fue justificado correctamente.
            </div>
        </div>
    </div>




{% endblock content %}
