<div class="container-fluid h-100" id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <!--NAVBAR-->
    <div class="l-navbar" id="navbar">
      <nav id="navbarID" class="nav">
        <div>
          <div class="nav__brand">
            <img src="{% static 'src/logo.svg'%}" />
          </div>
          <div class="nav__list">
            <div class="nav__link d-flex">
              <div
                class="iconSidebar d-flex justify-content-center"
                style="width: 78px"
              >
                <a href="#" class="iconMenu align-self-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20px "
                    height="20px "
                    fill="currentColor"
                    class="bi bi-file-text iconMenu align-self-center"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"
                    />
                    <path
                      d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"
                    />
                  </svg>
                </a>
              </div>

              <span class="nav__name">Consultar Pedimentos</span>
            </div>

            <div class="nav__link d-flex">
              <div class="iconSidebar d-flex justify-content-center">
                <a href="#" class="iconMenu align-self-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20px"
                    height="20px"
                    fill="currentColor"
                    class="bi bi-journal iconMenu align-self-center"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
                    />
                    <path
                      d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
                    />
                  </svg>
                </a>
              </div>

              <span class="nav__name">Catálogos</span>
            </div>

            <div class="nav__link d-flex">
              <div
                class="iconSidebar d-flex justify-content-center"
                style="width: 78px"
              >
                <a href="#" class="iconMenu align-self-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20px"
                    height="20px"
                    fill="currentColor"
                    class="bi bi-pen iconMenu align-self-center"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                    />
                  </svg>
                </a>
              </div>

              <span class="nav__name">Justificar Pedimentos</span>
            </div>

            <img
              name="menu-outline"
              class="nav__toggle"
              id="nav-toggle"
              src="{% static 'src/open.svg'%}"
            />
          </div>
        </div>
      </nav>
    </div>
    <!--NAVBAR END-->
    <section id="content">
      <main>{% block content %} {% endblock %}</main>
    </section>
  </div>
  <!--Footer-->
</div>
