<!DOCTYPE html>
<html lang="en" {% printHtmlAttributes 'html' %}>
    <!--begin::Head-->
    <head>
        <title>{% block title %}{% endblock title %} - Keenthemes</title>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>      
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="" />
        <link rel="canonical" href=""/>
        <link rel="shortcut icon" href="{% includeFavicon %}"/>

        {% block css %}
        <!--begin::Fonts-->
        {% includeFonts %}
        <!--end::Fonts-->

        <!--begin::Vendor Stylesheets(optional)-->
        {% getVendors 'css' as vendors_css %}
        {% for file in vendors_css %}
        <link href="{{ file }}" rel="stylesheet" type="text/css" />
        {% endfor %}
        <!--end::Vendor Stylesheets-->

        


        <!--begin::Global Stylesheets(mandatory)-->
        {% getGlobalAssets 'css' as assets_css %}
        {% for file in assets_css %}
        <link href="{% static file %}" rel="stylesheet" type="text/css" />
        {% endfor %}
        <!--end::Global Stylesheets-->
        {% endblock css %}

        <!--begin::Custom Stylesheets(optional)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
        
       
        <!--end::Custom Stylesheets-->
        

        <!--begin::Tracking-->
        <!--end::Tracking-->
    </head>
    <!--end::Head-->

    <!--begin::Body-->
    <body {% printHtmlClasses 'body' %} {% printHtmlAttributes 'body' %}>

       

        {% block layout %}
        {% endblock layout %}

        


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="{% static 'js/custom/navbar.js' %}"></script>
        <script src="{% static 'js/custom/buttons.js' %}"></script>
        <script src="{% static 'js/custom/collapsible.js' %}"></script>
        <script src="{% static 'js/custom/main.js' %}"></script>
        <script src="{% static 'js/custom/togglefiltro.js' %}"></script>


    </body>
    <!--end::Body-->
</html>